
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: sans-serif;

}
.phdd{
    height: 50%;
    width: 50%;

    
}

img{
    height: 496px;
    width: 500px;
    margin-top: 0%;
}

body{
    display: flex;
	flex-direction: column;

    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    

    background: linear-gradient(#493D9E,#B2A5FF,#DAD2FF,#FFF2AF);
   
}
.container{
    float: left;
    
    border: solid 2px rgba(177, 177, 177, 0.253);
    border-radius: 2%;
    align-content: center;
    text-decoration: solid;
    background-color:rgba(212, 212, 212, 0.301) ;
    margin-bottom: 100px;
}

table{
    color: rgb(27, 27, 27);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background-color: rgba(116, 116, 116, 0.459);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td {
    padding: 15px;
    border-bottom:solid 2px rgba(177, 177, 177, 0.253) ;

}

tbody tr:hover {
    background: rgba(64, 39, 131, 0.253);
}